<div class="error">
    <img src="../../images/error.png" alt="">
    <div class="titleError">
        <h1>ERROR 404!</h1>
        <h5>La pagina que intenta acceder no existe</h5>
    </div>
    
</div>