<div class="contendorLogin">
    <div class="login">
        
        <form class="formularioLogin">
            <h1>Inicia sesión</h1>
            <div class="mb-3">
                <label for="email" class="form-label">Email address (user)</label>
                <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password">
            </div>
            <div class="mb-3 form-check">
                <div id="alerta" class="form-text"></div>
                <div class="register">
                    <h6>¿No estar registrado? |&nbsp </h6> 
                    <a href="/register">registrarme</a>
                </div>
                <div class="restore">
                    <h6>¿Olvidaste la contraseña? |&nbsp </h6> 
                    <a href="/restore">restaurar contraseña</a> 
                </div>
                
                
            </div>
            <button id="botonLogin" class="btn btn-outline-success btnLogin" >ingresar</button>
            <button id="botonGitHub" class="btn btnGit "><img class="gitHubLogin" src="/../../images/github.png" alt=""></button>
        </form>
    </div>
</div>
<script src="/js/login.js"></script>