<div class="restored">
    <h1>Restaurar</h1>

    <form>
        <div class="mb-3">
            <label for="email" class="form-label">Email address (user)</label>
            <input type="email" class="form-control" id="email" aria-describedby="emailHelp" value="{{email}}" readonly='readonly'> 
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password">
        </div>
        <div class="mb-3 form-check">
            <div id="alerta" class="form-text"></div>
            <a href="/register">registrarme</a> 
            
        </div>
        <button id="botonRecuperar" class="btn btn-primary">Restaurar</button>
    </form>
</div>
<script src="/js/recuperar.js"></script>